md-dialog(flex)
    md-toolbar(layout="row")
        .md-toolbar-tools
            md-icon(md-svg-icon="assets/images/ic_event_white_24px.svg")
            |&#160;&#160;
            md-button(ng-href="{{kcs.view_uri}}" target="_blank") KCS Solution: {{kcs.id}}
            span(flex)
            md-button.md-icon-button(aria-label="cancel" ng-click="cancelDialog()")
                md-icon(md-svg-icon="assets/images/ic_close_white_24px.svg")
    md-dialog-content
        .md-dialog-content(layout="column")
            .md-padding
                .md-title {{kcs.title}}
            .md-padding(layout="row")
                md-input-container(flex)
                    label SBR
                    input(ng-disabled="true" ng-model="kcs.sbr")
                md-input-container(flex)
                    label Prouct
                    input(ng-disabled="true" ng-model="kcs.product")
            .md-padding(layout="row")
                md-input-container
                    label Last Modified By
                    input(ng-disabled="true" value="{{kcs.lastModifiedBySSOName}}")
                md-input-container
                    label Last Modified Date
                    input(ng-disabled="true" value="{{formatDate(kcs.lastModifiedDate)}}")
                md-input-container
                    label Total Case Count
                    input(ng-disabled="true" ng-model="kcs.case_count")
            .md-padding(layout="row")
                md-input-container
                    label Last Reviewed By
                    input(ng-disabled="true" ng-model="kcs.lastReviewedBy")
                md-input-container
                    label Last Review Date
                    input(ng-disabled="true" value="{{formatDate(kcs.lastReviewedDate)}}")
                md-input-container
                    label Review State
                    input(ng-disabled="true" ng-model="kcs.reviewState")
            div(layout="row")
                md-list(ng-if="kcs.activities.length > 0" flex)
                    md-subheader
                        md-icon(md-svg-icon="assets/images/ic_comment_black_24px.svg")
                        |&#160;&#160; Activities
                    md-list-item.md-3-line.md-long-text(ng-repeat="activity in kcs.activities | orderBy:'-date'")
                        .md-list-item-text(layout="column")
                            div(layout="row")
                                md-icon(md-svg-icon="assets/images/ic_account_circle_black_24px.svg")
                                p &#160;&#160;{{activity.author}}
                                p(flex layout="row" layout-align="center") {{activity.type}}
                                p {{formatDate(activity.date)}}
                            .md-padding(ng-if="activity.type !== 'modified the kcs'")
                                p {{activity.content}}
                        md-divider(ng-if="!$last")

    md-dialog-actions.md-padding(layout="row" layout-align="end center")
        md-button.md-raised.md-mini(ng-click="reviewAgain($event, kcs)") Review Again
        md-button.md-raised.md-warn.md-mini(ng-click="cancelDialog()") Close
